.container-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 6vh;
}

.div-Info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.div-Info div {
  margin: 8vh 1vw 0;
  width: fit-content;
}

.coin {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.div-Info button {
  margin-top: 4vh;
}

@media screen  and (max-width : 672px) {

  .div-Info {
    flex-direction: column;
    margin: 0 auto 3vh;
    width: 65%;
    align-items: center;
  }

  .div-Info button {
    width: 30vw;
  }
}

@media screen  and (max-width : 476px) {

  .div-Info {
    align-items: flex-start;
  }  

  .div-Info input, select {
    width: 31vw;
  }

  .div-Info button {
    width: 70vw;
    margin: 0 auto;
  }
}

@media screen and (min-width: 752px) and (max-width: 1268px) {

  .div-Info div {
    margin: 8vh 2vw 0;
  }

  .div-Info {
    flex-direction: row;
  }

}
