.div-putInfo {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 6vh;
  width: 100vw;
}

.div-putInfo div {
  margin: 8vh 1vw 0;
  width: fit-content;
}

.label-coin {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

@media screen  and (max-width : 672px) {

  .div-putInfo {
    flex-direction: column;
    margin: 0 auto 3vh;
    width: 65%;
    align-items: center;
  }  
  .div-putInfo button {
    width: 30vw;
  }
}

@media screen  and (max-width : 476px) {

  .div-putInfo {
    align-items: flex-start;
  }  

  .div-putInfo input, select {
    width: 31vw;
  }

  .div-putInfo button {
    width: 70vw;
    margin: 0 auto;
  }
}

@media screen and (min-width: 752px) and (max-width: 1268px) {

  .div-putInfo div {
    margin: 8vh 2.5vw 0;
  }

}